html,
body {
  height: 100%;
  margin: 0;
}

#root {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.logo {
  margin-top: 60px;
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0;
}
